*{
    padding: 0px;
    margin: 0px;
}
.header{
    background-color: #3b5998;
    height: 70px;
    position: relative;
}
.logo{font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 45px;
    position: relative;
    top: 10px;
    left: 70px;
}
.logoform{
    position: absolute;
    right: 60px;
    top:25px;
}
#l1,#l2{
    position: absolute;
    top: -15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.logoinp{
    border-radius: 2px;
    border-style: none;
}
.forg{
    position: absolute;
    right: 135px;
    top: 25px;
    color: rgb(138, 138, 188);
}
.logobutton{
    background-color:  #3b5998;
    color: white;
    border-color:rgb(175, 175, 175);
    border-style:solid;
    border-width: 2px;
    width:50px;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 600;
    font-size: 36px;

}
.subbody{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.body1{
    position: absolute;
    right: 350px;
    top: 100px;
   
}
#l3,#l4,#l5,#l6{
    border-radius: 3px;
    border-color: rgb(240, 236, 236);
    border-style: inset;
    height: 25px;

}
#l5,#l6{
    width: 340px;
}
.bir{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    position: absolute;
    top: 230px;
}
#l7{
    width: 60px;
    height: 25px;
    border-radius: 4px;
    background-color:lightgray;
}
.gen{
    position:absolute;
    top: 290px;
}
.button{
    width: 150px;
    height:28px ;
    border-radius: 5px;
    background-color:rgb(4, 118, 4);
    border-style: none;
    color: white;
    border: 1px solid violet;
}
.pera{
    font-family: Arial, Helvetica, sans-serif;
}
.firstpara{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:300 ;
    font-size: 20px;
}
.first{
    position: absolute;
    left: 70px;
    top: 120px;
}
#img1{
    position: absolute;
    right: 130px;
    top: 260px;
    height: 15px;
    width: 15px;
}
#img2{
    position: absolute;
    right: 100px;
    height: 15px;
    width: 15px;
}
#img3{
    height:240px;
    width:560px;
}
#gen{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}